# Ignore node_modules
node_modules/

# Ignore dist/ (build output directory)
dist/

# Ignore test files
test/

#Ignore github actions files
.github/workflows/*

# Ignore temporary or log files
*.log
*.tsbuildinfo

# Ignore lock files (package-lock.json, yarn.lock)
package-lock.json
yarn.lock

# Ignore Dockerfile (optional)
Dockerfile

# Ignore .env files
.env

# Ignore railway files
railway.json

# Ignore Prettier configuration files
.prettierignore
.prettierrc
.prettierrc.json
.prettierrc.yml
.prettierrc.toml

# Ignore ESLint configuration files
.eslintrc
.eslintrc.json
.eslintrc.yml
.eslintrc.yaml
.eslintrc.js

# Ignore git configuration files
.gitignore
.gitattributes

# Ignore markdown files
*.md